.pai-dos-itens {
    display: flex;
    gap: 30px;
    align-items: center;
    
    
}
.pai-dos-itens img {
    width: 100px;
}

.produto{
   display: flex;
   flex-direction: column;
 
}
.produto button{
width: 150px;

}